.container-home-page{
    border: none;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    position: relative;
    align-items: center;    

}

.container-imagem {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.container-form{
    z-index: 1;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.834);
    padding: 2em;    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    color: var(--brand-color3);
    width: 100%;
    padding: 1em;
    gap: 1em;
}



input{
    outline: 1px solid var(--brand-color3);
    padding-left: 1em;
    padding: 0.3em;
    background-color: white;
}


.container-logo-home{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
}